body{
width: 100px;
height: 100px;
margin: 0%;



}
#you_1{
width: 1100px;
height: 300px;
border: solid;
background-image: url(ahmed.png);
}
h1{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger;
font-style: italic;


}



